.color-secondary-0 {
  color: #275973;
}
.color-primary-1 {
  color: #4f99fe;
} 

.color-secondary-2 {
  color: #e3ea90;
}
.color-secondary-3 {
  color: #ffd73f;
}

.color-secondary-4 {
  color: #e3582d;
}
