.color-secondary-0 {
  color: #443239;
}
.color-primary-1 {
  color: #6bb7a3;
} 

.color-secondary-2 {
  color: #d7c27b;
}
.color-secondary-3 {
  color: #efbf1b;
}

.color-secondary-4 {
  color: #c65220;
}
