.header {
  position: fixed;
  top: 0;
  right: 15%;
  left: 15%;
  z-index: 10;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 70%;
  height: 80px;
  padding: 10px 40px;

  font-size: 28px;
  font-family: "Comfortaa", cursive;
  column-gap: 85px;

  background-color: #ffffff;
}

.header__search {
  width: 55%;
  height: 40px;
  padding: 0 20px;

  font-size: 26px;
  font-family: "Comfortaa", cursive;
  color: #275973;

  border: none;
  border-bottom: 2px solid #e4e5e5;
  outline: none;
}
.header__search::placeholder {
  color: #275973;

  opacity: 0.4;
}
.header__mode {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  margin-left: auto;
  padding: 0 3px;

  column-gap: 8px;

  background-color: #e4e5e5;
  border-radius: 12px;
}
.header__mode-button {
  box-sizing: border-box;
  height: 34px;
  padding: 0 20px;

  font-family: "Comfortaa", cursive;
  color: #275973;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-radius: 12px;
  outline: none;
}
.header__mode-button:hover {
  color: #ffffff;

  background-color: #e3582d;

  transition: all 0.4s ease-in-out;
}
.header__mode-button_active {
  color: white;

  background-color: #ffd73f;
}

.header__mode-button_active:hover {
  color: white;

  background-color: #ffd73f;
}
