.header {
  position: fixed;
  top: 0;
  right: 15%;
  left: 15%;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 70%;
  height: 80px;
  padding: 10px 40px;

  font-size: 28px;
  font-family: "Comfortaa", cursive;
  column-gap: 85px;
}

.header__search {
  width: 55%;
  height: 40px;
  padding: 0 20px;

  font-size: 26px;
  font-family: "Comfortaa", cursive;
  color: #275973;

  border: none;
  border-bottom: 2px solid #e4e5e5;
  outline: none;
}
.header__search::placeholder {
  color: #275973;

  opacity: 0.4;
}
.header__specialization {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  margin-left: auto;
  padding: 0 3px;

  background-color: #e4e5e5;
  border-radius: 12px;
}
.header__specialization-button {
  box-sizing: border-box;
  height: 34px;
  padding: 0 20px;

  font-family: "Comfortaa", cursive;
  color: #275973;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  outline: none;
}
.header__specialization-button:hover {
  color: #e3582d;
}
.header__specialization-button_active {
  color: white;

  background-color: #ffd73f;
  border-radius: 12px;
}
.header__calendar-mode {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  margin-left: auto;
  padding: 0 3px;

  background-color: #e4e5e5;
  border-radius: 12px;
}
.header__calendar-button {
  box-sizing: border-box;
  height: 34px;
  padding: 0 20px;

  font-family: "Comfortaa", cursive;
  color: #275973;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  outline: none;
}
.header__calendar-button_active {
  color: white;

  background-color: #ffd73f;
  border-radius: 12px;
}
.header__calendar-button:hover {
  color: #e3582d;
}
